*.o
*.a
*.so
*.stderr
*.stdout
*.ali
*.lexch
*.cgpr
*-loc.xml
/.gen
messages.txt
b__*
*bexch
.#*#
*.ci
*.cswi
messages.txt
.generate
clang_ref_cache.db
.messages.txt
.clangd
*.pyc
*.gcda
*.gcno
.clang-format
